<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.example.csep/cake/Cakefile" 
       class = "csep.example.cake.cakefile.CakefilePackage"
       genModel = "csep/example/cake/Cakefile.genmodel" /> 
	
  </extension>





</plugin>
